p, h1, h2, h3, h4
{
    text-align: center;
}
p
{
    font-size: 14pt;
    margin-left: 15px;
    margin-right: 15px;
}
h4
{
    margin-bottom: 0;
    font-size: 14pt;
}

#ruleHeadersDiv
{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 80%;
}

.rulesHeaders
{
    flex-basis: 50%;
    text-align: center;
}

#rulesContent
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
}

.picOnRight, .picOnLeft
{
    margin: 0 15px;
}

.rulesImageRight, .rulesImageLeft
{
    max-width: 100%;
    max-height: 100%;
    height: 150px;
    object-fit: contain;
}

.imageDivRight, .imageDivLeft
{
    margin: 0 20px;
    padding: 1px;
    border: 1px solid #F5BD02
}
.imageDivRight
{
    float: right;
}
.imageDivLeft
{
    float: left;
}

.picOnRight::after {
  content: "";
  clear: both;
  display: table;
}

.picOnLeft::after {
  content: "";
  clear: both;
  display: table;
}



#blackjackVideo
{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 5px;
    border: 3px solid #F5BD02;
}